body{
    background-image: url(fondicoverdeyblanco.jpeg);
}

.box1{
 margin-top: 5%;
 margin-left: 10%;

}
.box2{
width: 1200px;
margin-left: 10%;

}
.box3{
    margin-left: 10%;

}
.box4{
    margin-left: 10%;  
}
.box5{
    margin-top: -800px;

}